# Google Drive Configuration
TYPE=your_google_drive_type
PROJECT_ID=your_project_id
PRIVATE_KEY_ID=your_private_key_id
PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour_private_key_here\n-----END PRIVATE KEY-----\n"
CLIENT_EMAIL=your_client_email
CLIENT_ID=your_client_id
AUTH_URI=your_auth_uri
TOKEN_URI=your_token_uri
AUTH_PROVIDER_X509_CERT_URL=your_auth_provider_cert_url
CLIENT_X509_CERT_URL=your_client_cert_url
GOOGLE_DRIVE_FOLDER_ID=your_google_drive_folder_id

# Firebase Admin SDK Configuration (same as your Firebase project)
FIREBASE_TYPE=service_account
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_PRIVATE_KEY_ID=your_firebase_private_key_id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour_firebase_private_key_here\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=your_firebase_client_email
FIREBASE_CLIENT_ID=your_firebase_client_id
FIREBASE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
FIREBASE_TOKEN_URI=https://oauth2.googleapis.com/token
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
FIREBASE_CLIENT_X509_CERT_URL=your_firebase_client_cert_url

# Server Configuration
PORT=10000
